body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: #dbdfe7;
  background: #1b1b1f;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow: hidden;
  background-image: url("./assets/wavy-lines.svg");
  background-size: cover;
  width: 100%;
  margin: 0;
  justify-content: center;
}
button {
  border-style: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

#root {
  padding-top: 70px;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
}
