table {
  width: 98%;
  table-layout: fixed;
  border-collapse: collapse;
  padding-top: 20px;
}
th,
td {
  text-align: center;
  padding: 8px;
}
.header-column-color {
  background-color: rgb(31, 41, 55);
  border-bottom: 1px solid rgb(27, 27, 31);
}
.header-alternate-column-color {
  background-color: rgb(27, 27, 31);
  border-bottom: 1px solid rgb(31, 41, 55);
}
.column-color {
  background-color: rgb(31, 41, 55, 80%);
}
.alternate-column-color {
  background-color: rgb(27, 27, 31, 80%);
}
.controllers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
