.tabulation {
  width: 100%;
  height: 60px;
  background-color: none;
  display: flex;
}
.tabulation button {
  flex: 1;
  background: none;
  color: #dbdfe7;
  font-size: 18px;
  font-weight: 400;
}
.tabulation .tab-not-selected {
  background-color: rgb(31, 41, 55);
}

.tabulation button.tab-not-selected:last-child {
  background-color: rgb(31, 41, 55);
  border-radius: 0 0 0 40px;
}

.tabulation button.tab-not-selected:first-child {
  background-color: rgb(31, 41, 55);
  border-radius: 0 0 40px 0;
}
.tabulation button.tab-not-selected:last-child:hover {
  background-color: rgb(31, 41, 55, 50%);
  border-radius: 0 0 0 40px;
}

.tabulation button.tab-not-selected:first-child:hover {
  background-color: rgb(31, 41, 55, 50%);
  border-radius: 0 0 40px 0;
}
